<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.SngGrs.TestClasses.TC03SingleBankVostroBalanceCheck"/>
      <class name="com.SngGrs.TestClasses.TC04MultipleBanksVostroBalanceCheck"/>
      <class name="com.SngGrs.TestClasses.TestBaseClass"/>
      <class name="com.SngGrs.TestClasses.TC01LoginFunctionality"/>
      <class name="com.SngGrs.TestClasses.TC02LogoutFunctionality"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
